<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmileGate Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css"/>
    <script rel="text/javascript" src="./javascripts/login.js"></script>
</head>

<body>
<div class="content">
    <div class="leftPage">
            <span id="introTitle">
                This is Smile gate Auth Server.
            </span>
        <span id="introBody">
                Very Very good Design. Oh~~ I know too, thx :)<br>
                something anything blah blah~
            </span>
    </div>
    <div class="rightPage">
        <form action="#" id="formLogin">
            <div class="loginForm">
                <label id="loginTitle">
                    Login to your Account!
                </label>

                <label>
                    Email <br/>
                    <input type="email" id="email" class="loginInput" placeholder="Input Your Email Here..." required/>
                </label>

                <label>
                    Password <br/>
                    <input type="password" id="password" class="loginInput" placeholder="Input Your Password Here..."
                           required/>
                </label>

                <span id="findPassword">
                    <a href="signup">회원가입</a> <a href="findpassword">비밀번호 찾기</a>
                    </span>

                <input type="submit" class="loginInput" id="btnBlue" value="LogIn">


            </div>
        </form>
    </div>

</div>
</body>

</html>