<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmileGate verification</title>
    <link rel="stylesheet" href="/stylesheets/resetpassword_view.css"/>
    <script rel="text/javascript" src="/javascripts/resetpassword_view.js"></script>
</head>

<body>
<div class="content">
    <div class="leftPage">
            <span id="introTitle">
                비밀번호 변경
            </span>
        <span id="introBody">
            1. 변경할 비밀번호를 입력해주세요  <br/>
            2. 변경하기를 누르면 끝!<br/>
            <br/>
            </span>
    </div>
    <div class="rightPage">
        <form action="#" id="passwordForm">
            <div class="contentForm">
                <span>계정</span>
                <span id = "email"><%= email%></span>
                <span>Password</span>
                <input type="password" id="password" required>
                <span>Password Confirm</span>
                <input type="password" id="passwordConfirm" required/>
                <input type="submit" class="btnBlue" id="btnReqEmail" value="이메일 요청하기"/>
            </div>
        </form>
    </div>

</div>
</body>

</html>