<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmileGate SignUp Page</title>
    <link rel="stylesheet" href="/stylesheets/signup.css"/>
    <script rel="text/javascript" src="/javascripts/signup.js"></script>
</head>

<body>
<div class="content">
    <div class="leftPage">
            <span id="introTitle">
                This is Smile gate Auth Server.
            </span>
        <span id="introBody">
                Very Very good Design. Oh~~ I know too, thx :)<br>
                something anything blah blah~
            </span>
    </div>
    <div class="rightPage">
        <form action="#" id="signUp">
            <div class="signUpForm">
                <label id="signUpTitle">
                    Sign up your Account!
                </label>

                <label>
                    Email <br/>
                    <input type="email" id="email" class="input" placeholder="Input Your Email Here..." required/>
                </label>

                <label>
                    Password <br/>
                    <input type="password" id="password" class="input" placeholder="Input Your Password Here..." required/>
                </label>

                <label>
                    Password Confirm <br/>
                    <input type="password" id="passwordConfirm" class="input"
                           placeholder="Input Your Password Again Here..." required/>
                </label>

                <label>
                    Name <br/>
                    <input type="text" id="name" class="input" placeholder="Input Your Name Here..." required>
                </label>

                <input type="submit" class="input" id="btnSignup" value="SignUp">

            </div>
        </form>
    </div>

</div>
</body>

</html>