body {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #E6ECF1;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #295FF7;
}

#pageTitle{
    margin-left: 30px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 1024px;
    height: 768px;
    background: #ffffff;
}

.content .userForm{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.content .userForm .formTitle{
    font-weight: bold;
    margin-bottom: 30px;
}

.content .userForm .formItem{
    margin-bottom: 30px;
}

